<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= titulo %></h1>
    <p>Welcome to <%= titulo %></p>
    <p>This is the first stage of backend by JM</p>
    <!-- <p><%- saludo %></p> -->

    <h3>Incluir una condicion</h3>
    <% if (condicion.estado) { %>
      <p><%= condicion.segundo %> es par </p>
      <% } else { %>
        <p><%= condicion.segundo %> es impar </p>
        <% } %>  
        <% users.forEach (user => { %>
          <p><%= user.name + ": " + user.age %> </p>
          <% }) %>  
  </body>
</html>
