<!DOCTYPE html>
<html>
  <head>
    <title><%= userTitle %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <script src="/javascripts/test.js"></script>
  </head>
  <body>
    <nav>
      <ul id="test"></ul>
    </nav>
    <br>
    <nav>
      <p id="demo"></p>
    </nav>

    <h1><%= userTitle %></h1>
    <h2>Learning Web site for NodeJS for users page</h2>
    <p>Done by <%= name %></p>

    <div>
      <p>Click on the button below to download an experience picture</p>
      <button><a href="http://localhost:3000/download-example">Download</a></button>
    </div>    




  </body>
</html>