body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
  height: 50%;
  max-width: 400px;
}

nav {

}

ul {
  list-style-type: none;
}

li {
  margin-top: 20px;
  display: inline-block;
}

li a {
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 50px;
  background-color: lightgrey;
  color:black;
  transition: all 0.3s linear;
}

a:hover {
  background-color: grey;
  color: white;
}

button a {
  text-decoration: none;
  color: black;
}

