body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
  height: 50%;
  max-width: 400px;
}